.container {
  max-width: 119.2rem;
  width: 90%;
  margin: 8rem auto;
}

.table {
  border-collapse: collapse;
  width: 100%;

  thead {
    tr {
      background-color: var(--gray-900);

      th {
        font-size: 1.8rem;
        font-weight: 900;
        text-align: left;
        padding: 2rem 4rem;

        &:first-child {
          border-top-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
        }
      }
    }
  }
}
